body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.heading{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
span{
  display: inline-block;
  font-size: 5rem;
}