@font-face {
  font-family: "monument";
  src: url(./assets/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf);
}

:root {
  --green: rgb(42, 252, 152);
  --blue: rgb(41, 121, 255);
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
  --pink: #eb7ad1;
  --orange: #fcab1c;
  scrollbar-width: none;
  -ms-overflow-style: none;
  --m: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}

#loader {
  position: absolute;
}

body {
  height: 100%;
  color: black;
  margin: 0;
  padding: 0;
  cursor: default;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.text {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  color: black;
  font-size: clamp(4rem, 9vw, 12rem);
  font-family: "Rubik", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
}


.text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.38;
}

.fancy span {
  display: inline-block;
}

.fancy>.outer {
  transition: transform 350ms ease;
}

.fancy:hover>.outer {
  transition-duration: 800ms;
}

.fancy:hover>.outer>.inner {
  animation: float 5s ease infinite;
}


.fancy:hover>.outer>.inner>.letter {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fancy:hover>.outer:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover>.outer:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover>.outer:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover>.outer:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover>.outer:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover>.outer:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover>.outer:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover>.outer:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover>.outer:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover>.outer:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover>.outer:nth-child(11) {
  transform: translate(50%, -10%) rotate(-3deg);
}

.fancy:hover>.outer:nth-child(12) {
  transform: translate(120%, -30%) rotate(-10deg);
}

.fancy:hover>.outer:nth-child(13) {
  transform: translate(230%, -60%) rotate(-15deg);
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
}

.gradient-bg svg {
  display: none;
}

.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.interactive {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  mix-blend-mode: var(--blending);
  border-radius: 50%;
}

.g1 {
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
}

.g2 {
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  opacity: 1;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
}

.g3 {
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
  opacity: 1;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;

}

.g4 {
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;

}

.g5 {
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
  opacity: 1;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
}

.interactive {
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  position: absolute;
  opacity: 0.7;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes float {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}

#main {
  height: 100vh;
  background: linear-gradient(-45deg, #fa987a, #f373a4, #41c1f0, #43f5cc);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }


}

#page1 {
  height: 100vh;
  overflow: hidden !important;
  position: relative;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

#circle {
  display: flex;
  justify-content: center;
  align-items: center;
  left: -120vh;
  top: 50%;
  transform: translate(0%, -50%) rotate(100deg);
  position: absolute;
  height: 200vh;
  width: 200vh;
  border-radius: 50%;
  /* background-color: aqua; */
  border: 2px #777 solid;
}

.strip {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  height: 5%;
  /* background-color: blue; */
  transform-origin: 0% 50%;
}

.no1 {
  transform: translate(0, -50%) rotate(-45deg);
}

.no2 {
  transform: translate(0, -50%) rotate(-30deg);
}

.no3 {
  transform: translate(0, -50%) rotate(-15deg);
}

.no4 {
  transform: translate(0, -50%) rotate(0deg);
}

.no5 {
  transform: translate(0, -50%) rotate(15deg);
}

.no6 {
  transform: translate(0, -50%) rotate(30deg);
}

.no7 {
  transform: translate(0, -50%) rotate(45deg);
}

.no8 {
  transform: translate(0, -50%) rotate(60deg);
}

.first {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.dot {
  position: absolute;
  right: -0.46%;
  top: 50%;
  transform: translate(0%, 50%);
  border-radius: 50%;
  width: 1vh;
  height: 1vh;
  background-color: #777;

}

.second {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 1;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.dial-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: 800;
  padding-left: 3vw;
  font-size: 7vh;
  color: transparent;
  -webkit-text-stroke: 2px #413676;
}

.dial-link:hover {
  color: #3a2b83;
  transition: .8s ease-in;
}

#panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0, -50%);
  width: 5%;
  height: 30%;
}

.mncircle {
  cursor: pointer;
  width: 5vw;
}

.reactLogo {
  width: 18%;
}

.lappyLogo {
  width: 26%;
  margin-top: 8%;
  margin-left: 65%;
}

.loadbody {
  height: 100%;
  width: 100%;
  place-items: center;
  display: grid;
  background-color: #FAF8F3;
}

#mainload {
  height: 100vh;
  width: 100vw;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden;
}

.textload {
  text-transform: uppercase;
  position: absolute !important;
  font-weight: bolder;
  color: black;
  font-size: 10vw;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0%;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

#circleload {
  z-index: 33 !important;
  justify-content: center !important;
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}



.textload span {
  background-color: transparent;
  position: absolute !important;
  font-size: 1.9rem;
  transform-origin: 0 190px;
  z-index: 3;
  left: 50%;
}

#prep {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: absolute !important;
  height: 8vh;
  width: 18vw;
  z-index: 20000 !important;
  animation: none;
}

#loadhead {
  width: 35vw;
  height: 8.5vh;
  justify-content: center;
  align-items: center;
  display: flex;
}


#cloud1 {
  top: -15%;
  left: 10%;
  transform: scale(2);
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

#cloud2 {
  background-color: transparent;
  top: 0%;
  left: 0%;
  transform: scale(2);
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

/* subject cards start here  */
/* first sub card  */
.sub-content1 {
  display: flex;
  justify-content: center;
}

.box1 {
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  z-index: 1;
}

.box1::before {
  content: " ";
  position: absolute;

  left: 50px;
  width: 50%;
  height: 50%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;

  transition: 0.5s;
}

.box1::after {
  content: "";
  position: absolute;

  left: 50;
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
  filter: blur(30px);
}

.box1:hover:before,
.box1:hover:after {
  transform: scale(1.7);
}

.box1:before,
.box1:after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.box1 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box1 .content1 {
  position: relative;
  width: 190px;
  height: 254px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 .content1 .subheading1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

/* second sub card  */
.sub-content2 {
  display: flex;
  justify-content: center;
}

.box2 {
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  z-index: 1;
}

.box2::before {
  content: " ";
  position: absolute;

  left: 50px;
  width: 50%;
  height: 50%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;

  transition: 0.5s;
}

.box2::after {
  content: "";
  position: absolute;

  left: 50;
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
  filter: blur(30px);
}

.box2:hover:before,
.box2:hover:after {
  transform: scale(1.7);
}

.box2:before,
.box2:after {
  background: linear-gradient(315deg, #11998E, #38EF7D);
}

.box2 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box2 .content2 {
  position: relative;
  width: 190px;
  height: 254px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 .content2 .subheading2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

/* third sub card  */
.sub-content3 {
  display: flex;
  justify-content: center;
}

.box3 {
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  z-index: 1;
}

.box3:before {
  content: " ";
  position: absolute;

  left: 50px;
  width: 50%;
  height: 50%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;

  transition: 0.5s;
}

.box3::after {
  content: "";
  position: absolute;

  left: 50;
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
  filter: blur(30px);
}

.box3:hover:before,
.box3:hover:after {
  transform: scale(1.7);
}

.box3:before,
.box3:after {
  background: linear-gradient(315deg, #C33764, #1D2671);
}

.box3 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box3 .content3 {
  position: relative;
  width: 190px;
  height: 254px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 .content3 .subheading3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

/* fourth sub card  */
.sub-content4 {
  display: flex;
  justify-content: center;
}

.box4 {
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  z-index: 1;
}

.box4:before {
  content: " ";
  position: absolute;
  left: 50px;
  width: 50%;
  height: 50%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
}

.box4::after {
  content: "";
  position: absolute;

  left: 50;
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
  filter: blur(30px);
}

.box4:hover:before,
.box4:hover:after {
  transform: scale(1.7);
}

.box4:before,
.box4:after {
  background: linear-gradient(315deg, #2E3192, #1BFFFF);
}

.box4 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box4 .content4 {
  position: relative;
  width: 190px;
  height: 254px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box4 .content4 .subheading4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

/* fifth sub card  */
.sub-content5 {
  display: flex;
  justify-content: center;
}

.box5 {
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  z-index: 1;
}

.box5:before {
  content: " ";
  position: absolute;
  left: 50px;
  width: 50%;
  height: 50%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
}

.box5::after {
  content: "";
  position: absolute;

  left: 50;
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
  filter: blur(30px);
}

.box5:hover:before,
.box5:hover:after {
  transform: scale(1.7);
}

.box5:before,
.box5:after {
  background: linear-gradient(315deg, #00aeef, #ed1c24);
}

.box5 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box5 .content5 {
  position: relative;
  width: 190px;
  height: 254px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box5 .content5 .subheading5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

/* sixh sub card  */
.sub-content6 {
  display: flex;
  justify-content: center;
}

.box6 {
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  z-index: 1;
}

.box6:before {
  content: " ";
  position: absolute;
  left: 50px;
  width: 50%;
  height: 50%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
}

.box6::after {
  content: "";
  position: absolute;

  left: 50;
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
  filter: blur(30px);
}

.box6:hover:before,
.box6:hover:after {
  transform: scale(1.7);
}

.box6:before,
.box6:after {
  background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
}

.box6 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box6 .content6 {
  position: relative;
  width: 190px;
  height: 254px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box6 .content6 .subheading6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

/* seventh sub card  */
.sub-content7 {
  display: flex;
  justify-content: center;
}

.box7 {
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  z-index: 1;
}

.box7:before {
  content: " ";
  position: absolute;
  left: 50px;
  width: 50%;
  height: 50%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
}

.box7::after {
  content: "";
  position: absolute;

  left: 50;
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
  filter: blur(30px);
}

.box7:hover:before,
.box7:hover:after {
  transform: scale(1.7);
}

.box7:before,
.box7:after {
  background: linear-gradient(315deg, #170E13, #7A7AD8);
}

.box7 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box7 .content7 {
  position: relative;
  width: 190px;
  height: 254px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box7 .content7 .subheading7 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

/* semwise properties */
.subject-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vh;
}

.sem {
  min-height: 100vh;
  background: #303030;
  top: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5vh;
}

.sem .sem-content h3 {
  font-size: 2vw;
  display: flex;
  justify-content: center;
  margin: 4vh;
  border-bottom: 2px solid #fff;
  padding-bottom: 2vh;
  background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #232d2d;
  font-family: 'monument';
}

.fixing {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
}

/* FOOTER CSS start  */
#footbody {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  font-family: "IBM Plex Sans";
  font-weight: 300;
  display: flex;
  flex-direction: column;
  height: 190vh;
  margin: 0;
  padding: 0%;
  color: #d5d5d5;
  font-size: calc(0.3 * var(--m));
}

#text {
  font-size: 2.5vw;
}

.card {
  top: 0;
  height: 100vh;
  width: 100vw;
  border-radius: calc(0.5 * var(--m));
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
}

#involve {
  font-family: 'monument';
  margin-bottom: 14vh;
  margin-top: 14vh;
  background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #232d2d;
  letter-spacing: 1vh;
}

#elem-container {
  width: 100%;
}

.elem {
  border-top: white solid 1.5px;
  border-bottom: white solid 1.5px;
  height: 15vh;
  width: 100%;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.elem .overlay {
  background: rgb(9, 25, 171);
  background: linear-gradient(85deg, rgba(9, 25, 171, 1) 13%, rgba(46, 226, 81, 1) 76%);
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 1s ease-in-out;
  top: -100%;

}

.elem:hover .overlay {
  top: 0%;
  color: #121212;

}

.surname {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
}

.patel {
  font-size: 1vw;
  margin-left: 0%;
  letter-spacing: 1vh;
  font-family: 'monument';
  color: white;
  -webkit-text-stroke: 0px #fff;
  display: flex;

}

.emojis {
  margin-left: 4vw;
  margin-right: 4vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  font-family: "monument";
  letter-spacing: 1vw;
  font-size: 2.3vw;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

#fixed-image {
  height: 35vh;
  width: 20vw;
  border-radius: 15px;
  transform: translate(-50, -50);
  top: -12%;
  left: 10%;
  z-index: 99;
  display: none;
  background-size: cover;
  background-position: top;
  transition: 1 ease;
  pointer-events: none;
  position: fixed;
  animation: morph 5s ease-in-out infinite;
  background-position: center;
}

footer {
  margin-top: 0vh;
  z-index: 500;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 5rem 2vw;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.6) 30%,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(0, 0, 0, 1) 50%,
      rgb(0, 0, 0));
  z-index: -7;
}

.backdrop {
  z-index: -5;
  position: absolute;
  inset: 0;
  background-color: #000;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);

  mask-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5) 10%,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 1) 30%,
      rgb(0, 0, 0));

  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5) 10%,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 1) 30%,
      rgb(0, 0, 0));
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: calc(0.3 * var(--m)) calc(0.8 * var(--m));
  width: 60%;
}

.col2,
.col3 {
  background-color: #121212;
  border-radius: calc(0.5 * var(--m));
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  width: calc(0.8 * var(--m));
  height: calc(0.8 * var(--m));
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: calc(0.1 * var(--m));

  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes morph {

  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 3rem;
  }
}

@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
    padding: 5rem 20vw;
  }

  .col {
    width: 100%;
  }
}

#inside {
  padding: 5vh;
  width: 100vw;
  min-height: 100vh;
  background-color: #303030;
}

.headcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "monument";
  background: -webkit-linear-gradient(-86deg,
      #eef85b 5%,
      #7aec8d 53%,
      #09e5c3 91%);
  font-family: "monument";
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #232d2d;
  letter-spacing: 1vh;
  padding: 3vw;
}

.pdf {
  width: 80vw;
  height: 90vh;
}

#pyq {
  display: flex;
  align-items: center;
  justify-content: center;
}

.yt-title {
  font-family: "monument";
  font-family: "monument";
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ytlogo {
  height: 4vw;
  width: 4vw;
}

#video-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  flex-wrap: wrap;
}

.yt-title {
  display: flex;
  justify-content: center;
  align-items: center;
}